<h2>マッチメイク募集の編集</h2>
<%= form_for @matchmake, url:group_matchmake_path(@matchmake.group,@matchmake) do |f| %>
  <%= render 'layouts/error_messages', record: @matchmake %>
  <%= render "matchmake_form", f: f %>
<% end %>
