<h2 class="mt-5">マッチメイク募集の作成</h2>
<%= form_for @matchmake, url:group_matchmakes_path do |f| %>
  <%= render 'layouts/error_messages', record: @matchmake %>
  <%= render "matchmake_form", f: f %>
 <% end %>