<h2> 参加チーム一覧</h2>
<div class="row">
  <div class="col-10 offset-1">
    <table class="table">
      <thead>
        <tr>
          <th>チーム名</th>
          <th>参加日</th>
          <th></th>
        </tr>
      </thead>
      <% @join_groups.each do |join_group|%>
        <tbody>
          <tr>
            <td>
              <%= join_group.group.name %>
            </td>
            <td><%= join_group.created_at.strftime("%Y年%m月%d日") %></td>
            <td>
              <%= link_to "詳細へ", group_path(join_group.group.id) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= paginate @join_groups, class: "paginate" %>
  </div>
</div>