<h2>お気に入り一覧</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#favorite1" class="nav-link active" data-toggle="tab">メンバー募集</a>
  </li>
  <li class="nav-item">
    <a href="#favorite2" class="nav-link" data-toggle="tab">マッチメイク</a>
  </li>
</ul>

 <div class="tab-content">
  <div id="favorite1" class="tab-pane active">
    <%= render "teammate_favorite", teammate_favorites: @teammate_favorites %>
  </div>
  <div id="favorite2" class="tab-pane">
    <%= render "matchmake_favorites/matchmake_favorite", matchmake_favorites: @matchmake_favorites %>
  </div>
</div>


