<h2 class="mt-5">メンバー募集の作成</h2>
<%= form_for @teammate_recruitment, url:group_teammate_recruitments_path do |f| %>
  <%= render 'layouts/error_messages', record: @teammate_recruitment %>
  <%= render "teammate_form", f: f %>
<% end %>
